body{
	background-color: #fff;
}
.container{
	min-width:960px;
	font-family: "Helvetica Neue", Tahoma, sans-serif;
}
.clear{
	clear: both;
}
h1,h2,h3,h4,h5,h6{
	font-family: "Helvetica Neue", Tahoma, sans-serif;
	font-weight: 400;
}

/* header */
#header{
	height:350px;
	/*outline: 1px solid #ccc;*/
	background: #331803 url("../images/header_bg3.jpg") no-repeat;
	/*background-position: -200px 0px;*/
	position: relative;
	-moz-border-radius: 0px 0px 15px 15px;
	-webkit-border-radius: 0px 0px 15px 15px;
	border-radius: 0px 0px 15px 15px;
}
#header .logo{
	float: left;
	padding: 5px 20px;
	position: absolute;
	width:235px;
	height:60px;
	background-color: #000;
	background-color: rgba(0,0,0,0.6);
	color:#fff;
	top:10px;
	left:30px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
#header .logo a{
	color:#fff;
	text-decoration: none;
}
#header .logo h3{
	color:#fff;
	font-size: 20px;
	font-weight: bold !important;
	line-height: 24px;
}
#header .logo p{
	font-size: 16px;
	line-height: 18px;
	/*font-weight: 600px !important;*/
}
.phone-header{
	float: right;
	/*outline: 1px solid #ccc;*/
	width: 200px;
	height: 110px;
	background-color: #000;
	background-color: rgba(0,0,0,0.6);
	padding: 5px 10px;
	position: relative;
	right:20px;
	margin-top:10px;
}
.phone-header h6{
	font-size: 14px;
	line-height: 18px;
	color:#fff;
	font-weight:500;
}
.phone-content{
	font-size: 22px;
	font-weight: 500;
	line-height: 28px;
	margin-top:5px;
	color:#fff;
}
.phone-content img{
	position: relative;
	top:5px;
}
.phone-header button{
	margin-top:10px;
}
.zagolovok{
	background-color: #000;
	background-color: rgba(0,0,0,0.7);
	color:#fff;
	height:160px;
	padding: 15px 0px;
	text-align: center;
	position: absolute;
	bottom: 0px;
	width:100%;
	-moz-border-radius: 0px 0px 15px 15px;
	-webkit-border-radius: 0px 0px 15px 15px;
	border-radius: 0px 0px 15px 15px;
}
.zagolovok h2{
	color:#fff;
	font-size: 28px;
	line-height: 40px;
	font-weight: 500;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.zagolovok h3{
	color:#fff;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}
.action-banner{
	/*outline: 1px solid #ccc;*/
	height:300px;
	width:100%;
	background: #dde3d5 url("../images/header_bg.jpg") no-repeat;
	margin-top: 45px;
		-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.action-banner-black{
	background-color: #000;
	background-color: rgba(0,0,0,0.2);
	height:260px;
	padding: 20px 0px;
	width:960px;
	margin:0 auto;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position: absolute;
}
.action-banner-black h3{
	color:#fff;
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	font-weight: 500;
}
.descript-action{
	/*outline: 1px solid #ccc;*/
	/*float: left;*/
	width:280px;
	height:160px;
	margin-left: auto;
	margin-right: auto;
	margin-top:60px;
}
.acount{
	width: 250px;
	height: 94px;
	/*background: #538db2;*/
	border-radius: 10px;
	margin: 5px auto 0px auto;
}
.acount > h1{
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #FFF;
	text-align: center;
	margin-top: 9px;
}
.acount #tik {
	width: 209px;
	margin: 6px auto;
}
.acount #tik .tik{
	width: 31px;
	height: 41px;
	background: url('../images/tik.png');
	float: left;
	font: 25.49px Arial;
	color: #787878;
	text-shadow: 1px 1px 0px #fff;
;
	text-align: center;
	line-height: 36px;
}
.acount #tik .left{
	font: 25.49px Arial;
	color: #787878;
	text-shadow: 1px 1px 0px #fff
}
.acount #tak {
    margin-left: 44px;
	
}
.acount #tak > h3{
	float: left;
	font-size: 13.99px;
	color: #FFF;
	margin-right: 35px;
	font-weight: bold;
}
/* ------------------------------------------------------------------ */

.countdownHolder {
	background:none;
    border-radius: 5px 5px 5px 5px;
    height: 30px;
    margin: 0 0 0 3px;
    padding: 0;
    text-align: center;
    width: 210px;
}
.countdownHolder span {
    display: block;
    float: left;
}
.position {
	background:url(../images/count.jpg) 0 0 no-repeat;
	background-size:100% 100%;
    display: block;
    float: left;
    height: 42px;
    margin: 0 1px 0 0 !important;
    overflow: hidden;
    position: relative;
    width: 32px;
	
	
	background: url("../images/tik.png") repeat 0 0;
    color: #787878;
    float: left;
    font: 25.49px/36px Arial;
    height: 41px;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 31px;
}
.digit {
    color: #777;
    display: block;
	font-family:Arial, Helvetica, sans-serif;
    font-size: 22pt;
    line-height: 31pt;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 32px;
	text-shadow: 1px 1px 2px #fff;
	
	
	color: #787878;
    font: 25.49px/36px Arial;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 31px;
}
.countDays {
    display: none !important;
}
.countDiv0 {
    display: none !important;
}
.countDiv {
    display: block;
    float: left;
    height: 30px;
    position: relative;
    width: 4px;
}
.countDiv:before, .countDiv:after {
    background-color: #787878;
	box-shadow:1px 1px 0 #fff;
    content: "";
    display: block;
    height: 2px;
    left: 3px;
    margin-left: -3px;
    position: absolute;
    top: 13px;
    width: 2px;
}
.countDiv:after {
    top: 26px;
}
.action-banner-form{
	position: relative;
	top:-280px;
	right:-630px;
	/*outline: 1px solid #ccc;*/
	border: 3px solid #ccc;
	background-color: #eee;
	/*background-color: rgba(0,0,0,0.7);*/
	padding: 10px 20px;
	width:250px;
	height:320px;
	margin-top:15px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.action-banner-form h4{
	color:#000;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 10px;
}
.action-banner-form form{
	width:220px;
	margin:30px auto 0 auto;
}
/*modal windows*/
.reveal-modal{
	display: none;
	border:3px solid #ccc;
}
.modal-window-title{
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	text-align: center;
}
.modal-form{
	text-align: center;
	/*outline: 1px solid #ccc;*/
	width:230px;
	margin:0 auto;
}
.modal-form label{
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 5px;
}
.modal-form input[type='text'], .modal-form textarea{
	/*border-radius: 5px;*/
	/*-webkit-border-radius: 5px;*/
	/*-moz-border-radius: 5px;	*/
}

button{
	background: #ffd800;
	outline: none;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 3px solid #cda12f;
	font-size: 18px;
	font-weight: 500;
	padding: 6px 30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
button:hover{
	background: #ffd800;
	outline: none;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 3px solid #cda12f;
	font-size: 18px;
	font-weight: 500;
}
button:active{
	background: #ffd800;
	outline: none;
	border-top: 2px solid #cda12f;
	border-right: none;
	border-left: none;
	border-bottom: none;
	font-size: 18px;
	font-weight: 500;
}
input[type='submit']{
	background: #ffd800;
	outline: none;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 3px solid #cda12f;
	font-size: 18px;
	font-weight: 500;
	padding: 6px 30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
input[type='submit']:hover{
	background: #ffd800;
	outline: none;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 3px solid #cda12f;
	font-size: 18px;
	font-weight: 500;
}
input[type='submit']:active{
	background: #ffd800;
	outline: none;
	border-top: 2px solid #cda12f;
	border-right: none;
	border-left: none;
	border-bottom: none;
	font-size: 18px;
	font-weight: 500;
}
form input[type='text']{
	margin-bottom: 15px;	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.action-submit{
	padding: 10px 40px !important;
}
.services{
	margin-top:50px;
	/*outline: 1px solid #ccc;*/
	/*height:240px;*/
	margin-bottom:80px;

	padding-top: 40px;
}
.services h3{
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	font-size: 32px;
	line-height: 36px;
}
.services ul{
	margin-top:50px;
	list-style-type: none;
}
.services ul li{
	text-align: center;
	/*outline: 1px solid #ccc;*/
	/*padding:10px;*/
	/*border: 1px solid #ccc;*/
	/*width:230px;*/
	/*height:180px;*/
	/*margin-right:33px;*/
	/*margin-left: 35px;*/
	margin-bottom: 40px;
	/*float: left;*/
	/*-moz-border-radius: 10px;*/
	/*-webkit-border-radius: 10px;*/
	/*border-radius: 10px;*/
	/*background: #f5f5f5;*/
}
.services ul li img{
	width:32px;
	height:32px;
	/*float: left;*/
	display: inline-block;
	margin-right: 20px;
}
.services ul li h6{
	display: inline-block;
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	position: relative;
	top:-5px;
}
.conf-block{
	margin-top:80px;
	/*outline: 1px solid #ccc;*/
	height:60px;
	width:100%;
	/*background:url("../images/conf-bg.jpg") no-repeat;*/
	text-align: center;
	padding-top: 5px;
	background: #fce411; /* Old browsers */
background: -moz-linear-gradient(top,  #fce411 0%, #f9e654 50%, #f1da36 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fce411), color-stop(50%,#f9e654), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fce411 0%,#f9e654 50%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fce411 0%,#f9e654 50%,#f1da36 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fce411 0%,#f9e654 50%,#f1da36 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fce411 0%,#f9e654 50%,#f1da36 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce411', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.conf-block img{
	height:40px;
	width:40px;
	position: relative;
	top:5px;
}
.conf-block h3{
	font-weight: 500;
	text-transform: uppercase;
}
form{
	margin-bottom: 0px;
}
.conf-form{
	text-align: center;
	font-size: 13px;
	line-height: 17px;
}
.conf-form img{
	width:13px;
	height:13px;
}
.languages{
	width:100%;
	margin-top: 50px;
}
.languages h3{
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 28px;
	line-height: 32px;
}
.languages ul{
	list-style-type: none;
	margin-top:50px;
}
.languages ul li{
	float: left;
	text-align: center;
	/*outline: 1px solid #ccc;*/
	width:105px;
	height:140px;
	margin-right:16px;
	margin-left:16px;
}
.languages ul li h5{
	font-size:13px;
	line-height: 17px;
	margin-top:10px;
}
.fix-margin-for-srok{
	margin-top:80px !important;
}
.customers{
	width: 100%;
	/*outline: 1px solid #ccc;*/
	margin-top:100px;
}
.customers h3{
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;	
	font-size: 32px;
	line-height: 36px;
}
.customers ul{
	list-style-type:none;
	margin-top: 50px;
}
.customers ul li{
	text-align: center;
	width:250px;
	float: left;
	/*outline: 1px solid #ccc;*/
	height:100px;
	margin: 0px 35px 60px 35px;
}
.fix-margin-for-team{
	margin-top: 60px !important;
}
.prices{
	width:100%;
	margin-top:100px;
	/*outline: 1px solid #ccc;*/
}
.prices h3{
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;	
	font-size: 32px;
	line-height: 36px;
}
.prices .price-primechanie{
	text-align: center;
	margin-top: 10px;
	font-size: 14px;
	line-height: 18px;
}
.price-desc{
	color:#817e80;
	font-size: 18px;
	text-align: center;
}
.prices table{
	margin-top:20px;
	width:100%;
	-webkit-box-shadow: 0 0 9px rgba(0,0,0,0.5);
-moz-box-shadow: 0 0 9px rgba(0,0,0,0.5);
box-shadow: 0 0 9px rgba(0,0,0,0.5);
}
.prices table td{
	border:2px solid #eee;
	text-align: center;
}
.prices-header td{
	background: #69b552;
	color:#fff;
	padding: 20px 0px;
	font-size: 22px;
	font-weight: 500;
}
.prices-value td{
	padding: 20px 0px;
	font-size: 22px;
}
.submit-price{
	margin-top: 20px;
	text-align: center;
}
.price-submit-button{
	padding: 20px 50px !important;
	font-size: 25px !important;
}
.oplata-types{
	width:100%;
	margin-top: 90px;
	/*outline: 1px solid #ccc;	*/
}
.oplata-types h3{
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;	
	font-size: 32px;
	line-height: 36px;
}
.oplata-types ul{
	list-style-type:none;
	margin-top:30px;
}
.oplata-types ul li{
	float: left;
	text-align: center;
	width:150px;
	height:150px;	
	/*outline: 1px solid #ccc;*/
	margin-right: 21px;
	margin-left:21px;
}
.oplata-types ul li img{
	width:130px;
}
.oplata-types ul li h5{
	font-size:18px;
	margin-top:10px;
}
.fix-margin-since-year{
	margin-top:80px !important;
}
.main-request{
	margin: 120px auto 0px auto;
	width:500px;
	border: 3px solid #ffd800;
	padding: 30px 100px;
	
}
.main-request h3{
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
}
.main-request form{
	/*outline: 1px solid #ccc;*/
	width:340px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.main-request form input[type='text'], .main-request form textarea{
	width:330px;
	background: #f5f5f5;
}
.main-request form label{
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 400;
}
.main-request-submit{
	padding: 20px 50px !important;
	font-size: 25px !important;
	margin-left:40px;
}
.contacts{
	margin-top:80px;
	width:100%;	
	text-align: center;
}
.contacts h3{
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;	
	font-size: 32px;
	line-height: 36px;	
	margin-bottom: 20px;
}
.field-contact{
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}
.copy{
	font-size: 11px;
	margin-top: 20px;
}
.secons-line-languages{
	text-align: center;
	/*outline: 1px solid #ccc;*/
	width:411px;
	margin: 20px auto 0px auto;
}
.action-title{
		text-align: center;
	text-transform: uppercase;
	font-weight: 500;	
	font-size: 20px;
	line-height: 24px;	
	margin-bottom: 20px;
	margin-top:45px;
}

.green-button{
	background: #69b552;
	outline: none;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 3px solid #36901a;
	font-size: 18px;
	font-weight: 500;
	padding: 6px 30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-shadow:none !important;
	color:#fff;
}
.green-button:hover{
	background: #69b552;
	outline: none;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 3px solid #36901a;
	font-size: 18px;
	font-weight: 500;
	color:#fff;
}
.green-button:active{
	background: #69b552;
	outline: none;
	border-top: 2px solid #36901a;
	border-right: none;
	border-left: none;
	border-bottom: none;
	font-size: 18px;
	font-weight: 500;
	color:#fff;
}
.notarius{
	padding: 10px 0px;
	margin-bottom:80px;
	text-align: center;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #f5f5f5;
}
.notarius h4{
	font-size:30px;
	line-height: 34px;
	text-transform: uppercase;
}
.notarius h6{
	font-size:18px;
	margin-top: 5px;
	color:#817e80;
}
.form-conf{
	width:400px;
	clear: both;
	margin:0 auto;
	/*outline: 1px solid #ccc;*/
	text-align: center;
	font-size:11px;
	line-height: 15px;
}
.form-conf img{
	width:11px;
	height:11px;
}

.apostil{
	padding: 10px 0px;
	margin-top:80px;
	text-align: center;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #f5f5f5;
}
.apostil h4{
	font-size:30px;
	line-height: 34px;
	text-transform: uppercase;
}
.apostil h6{
	font-size:18px;
	margin-top: 5px;
	color:#817e80;
}